<% if @user %>
  <div class="flex flex-col md:flex-row md:space-x-2 space-y-2 md:space-y-0">
    <%= render_card(title: @user.username, class: "w-full") do %>
      <div class="p-6 pt-0">
        <div class="flex flex-row items-center">
          <% if @user.avatar_url %>
            <%= image_tag @user.avatar_url %>
          <% end %>
          <div class="p-2 rounded-md">
            <div>Last Seen</div>
            <p class="text-secondary-foreground text-sm">last_seen</p>
          </div>
        </div>
      </div>
    <% end %>
    <div class="flex flex-col grow">
      <%= render_card title: "Signature", class: "w-full" do %>
        <div data-controller="toggle">
          <% if @user.id == current_user&.id %>
            <div class="flex justify-end">
              <button type="button" data-action="click->toggle#toggle" class="bg-red-300">Edit</button>
            </div>

            <div class="hidden" data-toggle-target="element">
              <%= form_with model: @user, url: user_path(@user), method: :patch do |f| %>
                <%= f.text_area :signature, class: "w-full" %>
                <%= f.submit "Save", class: "bg-green-300" %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="p-6 mt-0">
          <% if @user.signature %>
            <%= @user.signature %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="flex flex-col min-w-[80px]">
      test2
    </div>
  </div>
<% else %>
  <div>No user found</div>
<% end %>
