<%= render_card title: "Change Avatar", subtitle: "You can configure your avatar on this page." do %>
  <div class="p-6 mt-0">
    <%= render_form_for(current_user, url: settings_path, method: :put, data: { controller: "image-preview" }) do |f| %>
      <img src="<%= current_user.avatar_url %>" data-image-preview-target="preview" />
      <div class="flex flex-col space-y-1">
        <%= f.label :avatar_url, label: 'Avatar URL' %>
        <%= f.text_field :avatar_url, data: { action: "change->image-preview#setPreviewByUrl" } %>
      </div>

      <div>
        <%= f.submit "Save Settings" %>
      </div>
    <% end %>
  </div>
<% end %>
