<%= render_card title: "Change Password" do %>
  <div class="p-6 mt-0">
    <%= render_form_for(current_user, url: settings_path, method: :put) do |f| %>
      <div class="flex flex-col space-y-1">
        <%= f.label :theme %>
        <%= f.select_field :theme, User::THEMES.map { |theme| [theme, theme] }, selected: current_user.theme %>
      </div>

      <div class="flex flex-col space-y-1">
        <%= f.label :topics_per_page %>
        <%= f.select_field :topics_per_page, User::TOPICS_PER_PAGE.map { |num| [num, num] }, selected: current_user.topics_per_page %>
      </div>

      <div class="flex flex-col space-y-1">
        <%= f.label :posts_per_page %>
        <%= f.select_field :posts_per_page, User::POSTS_PER_PAGE.map { |num| [num, num] }, selected: current_user.posts_per_page  %>
      </div>

      <div>
        <%= f.submit "Save Settings" %>
      </div>
    <% end %>
  </div>
<% end %>
