<!DOCTYPE html>
<html>
  <head>
    <title>Jsp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="m-2.5 flex flex-col space-y-1.5">
    <%= render NavbarComponent.new(user: current_user) %>
    <%= yield %>
  </body>
</html>
